body {
color: wheat;
background: cadetblue;
margin: 0px;
font-family: "Poppins", sans-serif; 
margin-bottom: 100px;
}

header {
    border-bottom: solid 2px blanchedalmond;
    padding: 20px;
    font-size: 23px;
    color: blanchedalmond;
 }

 .chamada { background: darkslategray;
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
  }

  .chamada-texto {
    margin-right: 5%;
   }

   h1 {
    font-size: 35px;
   }

   p {
    font-size: 18px;
   }

   .categoria-videos {display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  .categoria {padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px; 

}

  .categoria-videos img { opacity: 0.5;
    height: 200px; 

   }

   .categoria-videos img:hover { 
    opacity: 1.0;
    border: 2.5px solid darkslateblue; 
   }

   .categoria h2 { 
    color: blanchedalmond;
   }